Repository navikt/fp-abakus, changes with the labels that .github/labeler.yml gives for each.
All labels: kontrakt, migreringer, web, pom

Expand-fase av å bytte navnet behandlingId til koblingId (#2372)
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/RegisterdataInnhentingTask.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/callback/CallbackTask.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/tjeneste/InnhentRegisterdataTjeneste.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/kobling/KoblingTask.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/kobling/TaskConstants.java
Labels: none

Contract-fase av å bytte navnet behandlingId til koblingId
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/RegisterdataInnhentingTask.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/callback/CallbackTask.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/tjeneste/InnhentRegisterdataTjeneste.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/kobling/KoblingTask.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/kobling/TaskConstants.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/ContainerContextRunner.java
Labels: web

Legger koblingId i MDC for KoblingTask
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/kobling/KoblingTask.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/ContainerContextRunner.java
Labels: web

Bruk azuread mot aareg services
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/arbeidsforhold/rest/AaregRestKlient.java
  web/src/main/resources/application-dev-fss.properties
  web/src/main/resources/application-prod-fss.properties
  web/src/test/resources/application-local.properties
  web/src/test/resources/application-vtp.properties
Labels: none

TFP-5434 Bruk azuread mot aareg services (#2376)
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/arbeidsforhold/rest/AaregRestKlient.java
  web/src/main/resources/application-dev-fss.properties
  web/src/main/resources/application-prod-fss.properties
  web/src/test/resources/application-local.properties
  web/src/test/resources/application-vtp.properties
Labels: none

Bytt fra sts til aad mot wsproxy
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/arena/FpwsproxyKlient.java
Labels: none

Bytt fra sts til aad mot wsproxy (#2378)
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/arena/FpwsproxyKlient.java
Labels: none

Konsumere k9-infotrygd med azure/cc
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/rest/ps/InfotrygdPSGrunnlag.java
  web/src/main/resources/application-dev-fss.properties
  web/src/main/resources/application-prod-fss.properties
  web/src/test/resources/application-local.properties
  web/src/test/resources/application-vtp.properties
Labels: none

Et par deps
  pom.xml
Labels: pom

Konsumere k9-infotrygd med azure/cc (#2380)
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/rest/ps/InfotrygdPSGrunnlag.java
  pom.xml
  web/src/main/resources/application-dev-fss.properties
  web/src/main/resources/application-prod-fss.properties
  web/src/test/resources/application-local.properties
  web/src/test/resources/application-vtp.properties
Labels: pom

TFP-5435: Sigrun og Azure = U+2764
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunRestClient.java
  web/src/main/resources/application-dev-fss.properties
  web/src/main/resources/application-prod-fss.properties
  web/src/test/resources/application-local.properties
  web/src/test/resources/application-vtp.properties
Labels: none

TFP-5435: Sigrun og Azure = :heart: (#2383)
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunRestClient.java
  web/src/main/resources/application-dev-fss.properties
  web/src/main/resources/application-prod-fss.properties
  web/src/test/resources/application-local.properties
  web/src/test/resources/application-vtp.properties
Labels: none

TFP-5435: Kaller inntektskomponenten med azure token.
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/komponenten/InntektTjeneste.java
  web/src/main/resources/application-dev-fss.properties
  web/src/main/resources/application-prod-fss.properties
  web/src/test/resources/application-local.properties
  web/src/test/resources/application-vtp.properties
Labels: none

TFP-5435: Kaller inntektskomponenten med azure token. (#2384)
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/komponenten/InntektTjeneste.java
  web/src/main/resources/application-dev-fss.properties
  web/src/main/resources/application-prod-fss.properties
  web/src/test/resources/application-local.properties
  web/src/test/resources/application-vtp.properties
Labels: none

Fikser github tilganger
  .github/workflows/advisor.yml
  .github/workflows/build.yml
  .github/workflows/labeler.yml
  .github/workflows/release-kontrakt.yml
Labels: none

Test
  .github/workflows/labeler.yml
  .github/workflows/release-kontrakt.yml
Labels: none

Test
  .github/workflows/build.yml
Labels: none

Test
  .github/workflows/build.yml
Labels: none

Fiks kontrakt release
  .github/workflows/release-kontrakt.yml
Labels: none

Fiks release drafter
  .github/workflows/build.yml
Labels: none

Fikser github tilganger (#2385)
  .github/workflows/advisor.yml
  .github/workflows/build.yml
  .github/workflows/release-kontrakt.yml
Labels: none

Fiks tilganger
  .github/workflows/build.yml
  .github/workflows/labeler.yml
Labels: none

Fiks tilganger (#2386)
  .github/workflows/build.yml
  .github/workflows/labeler.yml
Labels: none

Fjerner ubrukt advisory workflow
  .github/workflows/advisor.yml
Labels: none

Kall til sykepenger infotrygd tjeneste med Azure.
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/rest/sp/InfotrygdSPGrunnlag.java
  web/src/main/resources/application-dev-fss.properties
  web/src/main/resources/application-prod-fss.properties
  web/src/main/resources/application.properties
  web/src/test/resources/application-local.properties
  web/src/test/resources/application-vtp.properties
Labels: none

Fikser token flow
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/rest/sp/InfotrygdSPGrunnlag.java
Labels: none

Kall til sykepenger infotrygd tjeneste med Azure. (#2387)
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/rest/sp/InfotrygdSPGrunnlag.java
  web/src/main/resources/application-dev-fss.properties
  web/src/main/resources/application-prod-fss.properties
  web/src/main/resources/application.properties
  web/src/test/resources/application-local.properties
  web/src/test/resources/application-vtp.properties
Labels: none

.github/labeler.yml:

kontrakt:
  - kontrakt/src/main/java/**/*
  - kontrakt-vedtak/src/main/java/**/*
  - kodeverk/src/main/java/**/*

migreringer:
  - migreringer/src/main/resources/**/*

web:
  - web/src/main/java/**/*

pom:
  - '**/*/pom.xml'
  - pom.xml
