Repository navikt/fp-abakus, changes with the labels that .github/labeler.yml gives for each.
All labels: kontrakt, migreringer, web, pom

.github/labeler.yml:

kontrakt:
  - kontrakt/src/main/java/**/*
  - kontrakt-vedtak/src/main/java/**/*
  - kodeverk/src/main/java/**/*

migreringer:
  - migreringer/src/main/resources/**/*

web:
  - web/src/main/java/**/*

pom:
  - '**/*/pom.xml'
  - pom.xml

Gjøre eksterne endepunkt tilgjengelige for aad-consumers
  web/src/main/java/no/nav/foreldrepenger/abakus/app/rest/ekstern/EksternDelingAvYtelserRestTjeneste.java
Labels: web

Gjøre eksterne endepunkt tilgjengelige for aad-consumers (#2232)
  web/src/main/java/no/nav/foreldrepenger/abakus/app/rest/ekstern/EksternDelingAvYtelserRestTjeneste.java
Labels: web

Oppdater felles, task, kafka-oppsett
  domenetjenester/vedtak/pom.xml
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/kafka/VedtakConsumer.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/kafka/VedtakProperties.java
  pom.xml
Labels: pom

Oppdater felles, task, kafka-oppsett (#2236)
  domenetjenester/vedtak/pom.xml
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/kafka/VedtakConsumer.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/kafka/VedtakProperties.java
  pom.xml
Labels: pom

Legger på AD grupper som kan kreve OBO tokens fra abakus
  .deploy/dev-fss-teamforeldrepenger.json
  .deploy/naiserator.yaml
  .deploy/prod-fss-teamforeldrepenger.json
  README.md
  web/src/main/resources/application-dev-fss.properties
  web/src/main/resources/application-prod-fss.properties
  web/src/test/resources/application-local.properties
Labels: none

Legger på AD grupper som kan kreve OBO tokens fra abakus (#2238)
  .deploy/dev-fss-teamforeldrepenger.json
  .deploy/naiserator.yaml
  .deploy/prod-fss-teamforeldrepenger.json
  README.md
  web/src/main/resources/application-dev-fss.properties
  web/src/main/resources/application-prod-fss.properties
  web/src/test/resources/application-local.properties
Labels: none

Legger til k9-drift i grupper med tilgang
  .deploy/dev-fss-teamforeldrepenger.json
  .deploy/prod-fss-teamforeldrepenger.json
Labels: none

Bump felles + bom + kontrakter.
  kodeverk/pom.xml
  kontrakt/pom.xml
  pom.xml
Labels: pom

Fix build
  kodeverk/pom.xml
  kontrakt/pom.xml
  pom.xml
Labels: pom

Bruk jacoco.
  pom.xml
Labels: pom

Bump felles + bom + kontrakter (#2246)
  pom.xml
Labels: pom

Legg til oppslag for sykepenger
  .deploy/dev-fss-teamforeldrepenger.json
  .deploy/prod-fss-teamforeldrepenger.json
Labels: none

Legg til oppslag for sykepenger (#2248)
  .deploy/dev-fss-teamforeldrepenger.json
  .deploy/prod-fss-teamforeldrepenger.json
Labels: none

Forenkler Jetty oppstart lokalt.
  pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/JettyServer.java
  web/src/test/resources/application-local.properties
Labels: web, pom

Forenkler Jetty oppstart lokalt. (#2252)
  pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/JettyServer.java
  web/src/test/resources/application-local.properties
Labels: web, pom

Fjern buildnummber plugin.
  web/pom.xml
Labels: pom

Felles 4225 task 3120 bruk kontekst
  domenetjenester/iay/pom.xml
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunRestClient.java
  domenetjenester/vedtak/pom.xml
  felles/pom.xml
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/jpa/BaseEntitet.java
  pom.xml
  prosesstask/pom.xml
  web/pom.xml
Labels: pom

Annen rydding
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/kafka/ApplicationIdUtil.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/kafka/Topic.java
  web/src/test/resources/application-local.properties
Labels: none

Felles 4226 og sparkel/pp i fss
  .deploy/dev-fss-teamforeldrepenger.json
  .deploy/prod-fss-teamforeldrepenger.json
  pom.xml
Labels: pom

Felles 4225 task 3120 bruk kontekst (#2259)
  .deploy/dev-fss-teamforeldrepenger.json
  .deploy/prod-fss-teamforeldrepenger.json
  domenetjenester/iay/pom.xml
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunRestClient.java
  domenetjenester/vedtak/pom.xml
  felles/pom.xml
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/jpa/BaseEntitet.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/kafka/ApplicationIdUtil.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/kafka/Topic.java
  pom.xml
  prosesstask/pom.xml
  web/pom.xml
  web/src/test/resources/application-local.properties
Labels: pom

Spøkelse i dev
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/InnhentingInfotrygdTjeneste.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/aktor/AktørTjeneste.java
  pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/app/rest/ekstern/EksternDelingAvYtelserRestTjeneste.java
  web/src/main/resources/application-dev-fss.properties
Labels: web, pom

Spøkelse i dev (#2262)
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/InnhentingInfotrygdTjeneste.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/aktor/AktørTjeneste.java
  pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/app/rest/ekstern/EksternDelingAvYtelserRestTjeneste.java
  web/src/main/resources/application-dev-fss.properties
Labels: web, pom

Manglet annotering PS
  web/src/main/java/no/nav/foreldrepenger/abakus/app/rest/ekstern/EksternDelingAvYtelserRestTjeneste.java
Labels: web

Manglet annotering PS (#2263)
  web/src/main/java/no/nav/foreldrepenger/abakus/app/rest/ekstern/EksternDelingAvYtelserRestTjeneste.java
Labels: web

Spøkelse gcp prod
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/rest/SpøkelseKlient.java
  web/src/main/resources/application-dev-fss.properties
  web/src/main/resources/application-prod-fss.properties
  web/src/main/resources/application.properties
Labels: none

Spøkelse gcp prod (#2265)
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/rest/SpøkelseKlient.java
  web/src/main/resources/application-dev-fss.properties
  web/src/main/resources/application-prod-fss.properties
  web/src/main/resources/application.properties
Labels: none

Bruk ingress mot spøkelse i prod
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/rest/SpøkelseKlient.java
  web/src/main/resources/application-dev-fss.properties
  web/src/main/resources/application-prod-fss.properties
  web/src/main/resources/application.properties
Labels: none

Bruk ingress mot spøkelse i GCP (#2267)
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/rest/SpøkelseKlient.java
  web/src/main/resources/application-dev-fss.properties
  web/src/main/resources/application-prod-fss.properties
  web/src/main/resources/application.properties
Labels: none

Slå sammen kall
  web/src/main/java/no/nav/foreldrepenger/abakus/app/rest/ekstern/EksternDelingAvYtelserRestTjeneste.java
Labels: web

Slå sammen kall (#2270)
  web/src/main/java/no/nav/foreldrepenger/abakus/app/rest/ekstern/EksternDelingAvYtelserRestTjeneste.java
Labels: web

Manglende saksnummer fra infotrygd
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/InntektArbeidYtelseRepository.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/callback/CallbackTask.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/infotrygd/InfotrygdgrunnlagAnvistAndelMapper.java
  domenetjenester/lonnskomp/src/main/java/no/nav/foreldrepenger/abakus/lonnskomp/domene/LønnskompensasjonRepository.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/tjeneste/YtelseRestTjeneste.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/rest/ekstern/EksternDelingAvYtelserRestTjeneste.java
Labels: web

Manglende saksnummer fra infotrygd (#2272)
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/InntektArbeidYtelseRepository.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/callback/CallbackTask.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/infotrygd/InfotrygdgrunnlagAnvistAndelMapper.java
  domenetjenester/lonnskomp/src/main/java/no/nav/foreldrepenger/abakus/lonnskomp/domene/LønnskompensasjonRepository.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/tjeneste/YtelseRestTjeneste.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/rest/ekstern/EksternDelingAvYtelserRestTjeneste.java
Labels: web

Fjern uheldig logging
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/InnhentingInfotrygdTjeneste.java
Labels: none

Fjern uheldig logging (#2273)
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/InnhentingInfotrygdTjeneste.java
Labels: none

Felles 4228
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/InntektsmeldingAggregat.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/arbeidsforhold/ArbeidsforholdInformasjon.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/inntektsmelding/ForvaltningOppdaterKanalReferanseTask.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/søknad/OppgittOpptjeningAggregat.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/GrunnlagRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ByggYrkesaktiviteterTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/IAYRegisterInnhentingFellesTjenesteImpl.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/InnhentingSamletTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/RegisterdataInnhentingTask.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/arbeidsforhold/ArbeidsforholdTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/arbeidsgiver/virksomhet/VirksomhetTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/infotrygd/InfotrygdgrunnlagAnvistAndelMapper.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/komponenten/InntektTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/SigrunTilInternMapper.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/kobling/repository/KoblingRepository.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/typer/Stillingsprosent.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/domene/VedtakYtelseRepository.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/kafka/VedtakConsumer.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/kafka/VedtaksHendelseHåndterer.java
  pom.xml
  prosesstask/src/main/java/no/nav/abakus/prosesstask/batch/CleanNextBucketBatchTask.java
  prosesstask/src/main/java/no/nav/abakus/prosesstask/batch/RekjørFeiledeTasksBatchTask.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/IndexClasses.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/ContainerContextRunner.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/DebugDumpsters.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/rapportering/RapporteringRestTjeneste.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/exceptions/ConstraintViolationMapper.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/exceptions/JsonMappingExceptionMapper.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/exceptions/JsonParseExceptionMapper.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/konfig/ApplicationServiceStarter.java
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/JettyServer.java
  web/src/test/java/no/nav/foreldrepenger/abakus/app/RapporterUnmappedKolonnerIDatabaseTest.java
  web/src/test/java/no/nav/foreldrepenger/abakus/jetty/JettyDevServer.java
Labels: web, pom

Felles 4228 (#2276)
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/InntektsmeldingAggregat.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/arbeidsforhold/ArbeidsforholdInformasjon.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/inntektsmelding/ForvaltningOppdaterKanalReferanseTask.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/søknad/OppgittOpptjeningAggregat.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/GrunnlagRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ByggYrkesaktiviteterTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/IAYRegisterInnhentingFellesTjenesteImpl.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/InnhentingSamletTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/RegisterdataInnhentingTask.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/arbeidsforhold/ArbeidsforholdTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/arbeidsgiver/virksomhet/VirksomhetTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/infotrygd/InfotrygdgrunnlagAnvistAndelMapper.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/komponenten/InntektTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/SigrunTilInternMapper.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/kobling/repository/KoblingRepository.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/typer/Stillingsprosent.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/domene/VedtakYtelseRepository.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/kafka/VedtakConsumer.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/kafka/VedtaksHendelseHåndterer.java
  pom.xml
  prosesstask/src/main/java/no/nav/abakus/prosesstask/batch/CleanNextBucketBatchTask.java
  prosesstask/src/main/java/no/nav/abakus/prosesstask/batch/RekjørFeiledeTasksBatchTask.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/IndexClasses.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/ContainerContextRunner.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/DebugDumpsters.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/rapportering/RapporteringRestTjeneste.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/exceptions/ConstraintViolationMapper.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/exceptions/JsonMappingExceptionMapper.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/exceptions/JsonParseExceptionMapper.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/konfig/ApplicationServiceStarter.java
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/JettyServer.java
  web/src/test/java/no/nav/foreldrepenger/abakus/app/RapporterUnmappedKolonnerIDatabaseTest.java
  web/src/test/java/no/nav/foreldrepenger/abakus/jetty/JettyDevServer.java
Labels: web, pom

Legg til kildesystem infotrygd
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/extract/v1/ConvertToYtelseV1.java
  kontrakt-vedtak/src/main/java/no/nav/abakus/vedtak/ytelse/Kildesystem.java
Labels: kontrakt

Legg til kildesystem infotrygd (#2278)
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/extract/v1/ConvertToYtelseV1.java
  kontrakt-vedtak/src/main/java/no/nav/abakus/vedtak/ytelse/Kildesystem.java
Labels: kontrakt

Fikse feil i mapping
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/extract/v1/ExtractFromYtelseV1.java
  kontrakt-vedtak/src/main/java/no/nav/abakus/vedtak/ytelse/Kildesystem.java
Labels: kontrakt

Fikse feil i mapping (#2279)
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/extract/v1/ExtractFromYtelseV1.java
  kontrakt-vedtak/src/main/java/no/nav/abakus/vedtak/ytelse/Kildesystem.java
Labels: kontrakt
