Repository navikt/fp-abakus, changes with the labels that .github/labeler.yml gives for each.
All labels: kontrakt, migreringer, web, pom

Lager mapping for lønnsinntektbeskrivelse
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/Inntektspost.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/InntektspostBuilder.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/jpa/LønnsbeskrivelseKodeverdiConverter.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/dto/iay/MapAktørInntekt.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/IAYRegisterInnhentingFellesTjenesteImpl.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/komponenten/InntektTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/komponenten/Månedsinntekt.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/LønnsinntektBeskrivelse.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/inntekt/v1/UtbetalingsPostDto.java
Labels: kontrakt

Fikser etter QA
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/Inntektspost.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/IAYRegisterInnhentingFellesTjenesteImpl.java
Labels: none

Setter lønnsinntektbeskrivelse not null
  migreringer/src/main/resources/db/migration/defaultDS/2.0/V2.0_024__lønnsinntektbeskrivelse_not_null.sql
Labels: migreringer

Setter lønnsinntektbeskrivelse not null (#2349)
  migreringer/src/main/resources/db/migration/defaultDS/2.0/V2.0_024__lønnsinntektbeskrivelse_not_null.sql
Labels: migreringer

Refaktorering av mapping av lønnsinntekter
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ByggLønnsinntektInntektTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/IAYRegisterInnhentingFellesTjenesteImpl.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/ByggLønnsinntektInntektTjenesteTest.java
Labels: none

Legger til test for flere beskrivelser
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ByggLønnsinntektInntektTjeneste.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/ByggLønnsinntektInntektTjenesteTest.java
Labels: none

Lager mapping for lønnsinntektbeskrivelse (#2345)
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/Inntektspost.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/InntektspostBuilder.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/jpa/LønnsbeskrivelseKodeverdiConverter.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/dto/iay/MapAktørInntekt.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ByggLønnsinntektInntektTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/IAYRegisterInnhentingFellesTjenesteImpl.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/komponenten/InntektTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/komponenten/Månedsinntekt.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/ByggLønnsinntektInntektTjenesteTest.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/LønnsinntektBeskrivelse.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/inntekt/v1/UtbetalingsPostDto.java
Labels: kontrakt

GA: Tar i bruk ny rutine for deploy, codeql og autotest
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy-manuelt.yml
  .github/workflows/dispatch.yml
  .github/workflows/promote.yml
  .github/workflows/snyk.yml
Labels: none

GA: Fiks notify conditions som ble trigget ved feilede enhetstester
  .github/workflows/build.yml
Labels: none

GA: Manglet en parantes i syntaksen
  .github/workflows/build.yml
Labels: none

GA: fiks notify job if statement i build.yml
  .github/workflows/build.yml
Labels: none

GA: Fjerner schedule av build.yml
  .github/workflows/build.yml
Labels: none

GA: Fjerner bruk av deprecated autotest.yml action
  .github/workflows/build.yml
Labels: none

Bumper felles til 4.2.43 med fiks for lokal utvikling
  pom.xml
  web/src/test/resources/application-vtp.properties
Labels: pom

Felles 4245
  pom.xml
Labels: pom

Felles 4245 (#2359)
  pom.xml
Labels: pom

Bumper lokalt oppsett til postgres 15
  lokalutvikling/docker-compose.yml
  lokalutvikling/postgres-init/fpabakus.sql
  lokalutvikling/update-versions.sh
  lokalutvikling/vtp.env
Labels: none

Fikser sonar oppsett
  .github/workflows/build.yml
Labels: none

Legger på dependency-submission
  .github/workflows/dependency-submission.yml
Labels: none

Bump felles.
  pom.xml
Labels: pom

Bumper lokalt oppsett til postgres 15 (#2363)
  .github/workflows/build.yml
  .github/workflows/dependency-submission.yml
  lokalutvikling/docker-compose.yml
  lokalutvikling/postgres-init/fpabakus.sql
  lokalutvikling/update-versions.sh
  lokalutvikling/vtp.env
  pom.xml
Labels: pom

Bump felles og bom deps
  pom.xml
Labels: pom

Bump felles og bom deps (#2367)
  pom.xml
Labels: pom

Bruk ereg-services v2
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/arbeidsgiver/virksomhet/rest/OrganisasjonRestKlient.java
  web/src/main/resources/application-dev-fss.properties
  web/src/main/resources/application-prod-fss.properties
Labels: none

Forsøk gha
  .github/workflows/build.yml
Labels: none

Bruk ereg-services v2 (#2368)
  .github/workflows/build.yml
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/arbeidsgiver/virksomhet/rest/OrganisasjonRestKlient.java
  web/src/main/resources/application-dev-fss.properties
  web/src/main/resources/application-prod-fss.properties
Labels: none

Justerer opplysningsperiode fo innhenting fra Sigrun når siste år ikke er ferdiglignet
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunConsumerImpl.java
Labels: none

Justerer bare start av perioden
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunConsumerImpl.java
Labels: none

Fjerner 'toggle' da det nå er ren utvidelse
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunConsumerImpl.java
Labels: none

Enhetstest
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunConsumerImpl.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunConsumerImplTest.java
Labels: none

Justerer periode for innhenting fra Sigrun når siste år ikke er ferdiglignet (#2369)
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunConsumerImpl.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunConsumerImplTest.java
Labels: none

Update README.md
  README.md
Labels: none

Logger hva opplysningeperioden er og om den utvides
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunConsumerImpl.java
Labels: none

Logger hva opplysningeperioden er og om den utvides (#2370)
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunConsumerImpl.java
Labels: none

Flytter utvidelse av opptjeningsperioden så den treffer begge kall til sigrun consumer
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/SigrunTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunConsumer.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunConsumerImpl.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/SigrunTjenesteTest.java
Labels: none

Fjernet utdatert test
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunConsumerImplTest.java
Labels: none

Flytter utvidelse av opptjeningsperioden så den treffer begge kall til sigrun (#2371)
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/SigrunTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunConsumer.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunConsumerImpl.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/SigrunTjenesteTest.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunConsumerImplTest.java
Labels: none

Expand-fase av å bytte navnet behandlingId til koblingId
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/RegisterdataInnhentingTask.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/callback/CallbackTask.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/tjeneste/InnhentRegisterdataTjeneste.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/kobling/KoblingTask.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/kobling/TaskConstants.java
Labels: none

Fix: null opplysningsperiode
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/SigrunTjeneste.java
Labels: none

Fix: null opplysningsperiode (#2373)
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/SigrunTjeneste.java
Labels: none

.github/labeler.yml:

kontrakt:
  - kontrakt/src/main/java/**/*
  - kontrakt-vedtak/src/main/java/**/*
  - kodeverk/src/main/java/**/*

migreringer:
  - migreringer/src/main/resources/**/*

web:
  - web/src/main/java/**/*

pom:
  - '**/*/pom.xml'
  - pom.xml
