Repository navikt/fp-abakus, changes with the labels that .github/labeler.yml gives for each.
All labels: kontrakt, migreringer, web, pom

.github/labeler.yml:

kontrakt:
  - kontrakt/src/main/java/**/*
  - kontrakt-vedtak/src/main/java/**/*
  - kodeverk/src/main/java/**/*

migreringer:
  - migreringer/src/main/resources/**/*

web:
  - web/src/main/java/**/*

pom:
  - '**/*/pom.xml'
  - pom.xml

Bruk k9sak som kilde for alle k9-ytelser
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/extract/v1/ConvertToYtelseV1.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/extract/v1/ExtractFromYtelseV1.java
  kontrakt-vedtak/src/main/java/no/nav/abakus/vedtak/ytelse/Kildesystem.java
Labels: kontrakt

Bruk k9sak som kilde for alle k9-ytelser (#2281)
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/extract/v1/ConvertToYtelseV1.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/extract/v1/ExtractFromYtelseV1.java
  kontrakt-vedtak/src/main/java/no/nav/abakus/vedtak/ytelse/Kildesystem.java
Labels: kontrakt

Ta med dummy vedtaksReferanse pga kontrakt NotNull
  web/src/main/java/no/nav/foreldrepenger/abakus/app/rest/ekstern/EksternDelingAvYtelserRestTjeneste.java
Labels: web

Ta med dummy vedtaksReferanse pga kontrakt NotNull (#2283)
  web/src/main/java/no/nav/foreldrepenger/abakus/app/rest/ekstern/EksternDelingAvYtelserRestTjeneste.java
Labels: web

Feat: Rydder i prosjekt struktur.
  .deploy/dev-fss-teamforeldrepenger.json
  .deploy/naiserator.yaml
  .deploy/prod-fss-teamforeldrepenger.json
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/dispatch.yml
  .github/workflows/release-kontrakt.yml
  .github/workflows/snyk.yml
  README.md
  domenetjenester/pom.xml
  lokalutvikling/docker-compose.yml
  lokalutvikling/update-versions.sh
  pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/app/selftest/HealthCheckRestService.java
Labels: web, pom

Feat: Rydder i prosjekt struktur. (#2289)
  .deploy/dev-fss-teamforeldrepenger.json
  .deploy/naiserator.yaml
  .deploy/prod-fss-teamforeldrepenger.json
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/dispatch.yml
  .github/workflows/release-kontrakt.yml
  .github/workflows/snyk.yml
  README.md
  domenetjenester/pom.xml
  lokalutvikling/docker-compose.yml
  lokalutvikling/update-versions.sh
  pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/app/selftest/HealthCheckRestService.java
Labels: web, pom

Helath trenger sync med begge autotestene
  .deploy/naiserator.yaml
  web/src/main/java/no/nav/foreldrepenger/abakus/app/selftest/HealthCheckRestService.java
Labels: web

Health trenger sync med begge autotestene (#2291)
  .deploy/naiserator.yaml
  web/src/main/java/no/nav/foreldrepenger/abakus/app/selftest/HealthCheckRestService.java
Labels: web

Bytter til nye healthcheck endepunkter. Deprecate de gamle.
  .deploy/naiserator.yaml
  web/src/main/java/no/nav/foreldrepenger/abakus/app/selftest/HealthCheckRestService.java
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/DatasourceRole.java
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/DatasourceUtil.java
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/JettyServer.java
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/db/DatasourceRole.java
  web/src/test/java/no/nav/foreldrepenger/abakus/jetty/JettyDevServer.java
Labels: web

Bytter til nye healthcheck endepunkter. Deprecate de gamle. (#2293)
  .deploy/naiserator.yaml
  web/src/main/java/no/nav/foreldrepenger/abakus/app/selftest/HealthCheckRestService.java
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/DatasourceRole.java
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/DatasourceUtil.java
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/JettyServer.java
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/db/DatasourceRole.java
  web/src/test/java/no/nav/foreldrepenger/abakus/jetty/JettyDevServer.java
Labels: web

Fjerner KafkaIntegrasjon
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/jpa/AbstractIntervall.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/kafka/KafkaIntegration.java
Labels: none

GA: Tar i bruk oppryddet deploy-app.yml action for deploy av applikasjonen
  .github/workflows/promote.yml
  .github/workflows/snyk.yml
Labels: none

GA: Erstatter også promote.yml kall fra build.yml
  .github/workflows/build.yml
Labels: none

Standardisering intern+ekstern deling av lagret vedtak
  .deploy/dev-fss-teamforeldrepenger.json
  .deploy/prod-fss-teamforeldrepenger.json
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/tjeneste/YtelseRestTjeneste.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/request/HentBrukersK9YtelserIPeriodeRequest.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/request/HentBrukersYtelserIPeriodeRequest.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/rest/ekstern/EksternDelingAvYtelserRestTjeneste.java
Labels: kontrakt, web

Prosesstask bruker azure når adaptive
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/callback/CallbackTask.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/tjeneste/InnhentRegisterdataTjeneste.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/kobling/TaskConstants.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/request/InnhentRegisterdataRequest.java
  web/src/main/resources/application.properties
  web/src/test/resources/application-local.properties
Labels: kontrakt

Fix: Rydder ubrukte ingresser.
  .deploy/dev-fss-teamforeldrepenger.json
  .deploy/prod-fss-teamforeldrepenger.json
Labels: none

Prosesstask bruker azure når adaptive (#2302)
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/callback/CallbackTask.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/tjeneste/InnhentRegisterdataTjeneste.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/kobling/TaskConstants.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/request/InnhentRegisterdataRequest.java
  web/src/main/resources/application.properties
  web/src/test/resources/application-local.properties
Labels: kontrakt

Fix: Rydder ubrukte ingresser. (#2303)
  .deploy/dev-fss-teamforeldrepenger.json
  .deploy/prod-fss-teamforeldrepenger.json
Labels: none

Har ikke oppsett for k9-verdikjede
  web/src/main/resources/application.properties
Labels: none

Har ikke oppsett for k9-verdikjede (#2306)
  web/src/main/resources/application.properties
Labels: none

Bruk aad alle andre steder enn k9verdikjede
  web/src/main/resources/application-dev-fss.properties
  web/src/main/resources/application-prod-fss.properties
  web/src/main/resources/application.properties
  web/src/test/resources/application-local.properties
Labels: none

Standardisering intern+ekstern deling av lagret vedtak (#2301)
  .deploy/dev-fss-teamforeldrepenger.json
  .deploy/prod-fss-teamforeldrepenger.json
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/tjeneste/YtelseRestTjeneste.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/request/HentBrukersK9YtelserIPeriodeRequest.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/request/HentBrukersYtelserIPeriodeRequest.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/rest/ekstern/EksternDelingAvYtelserRestTjeneste.java
Labels: kontrakt, web

Bruk aad alle andre steder enn k9verdikjede (#2310)
  web/src/main/resources/application-dev-fss.properties
  web/src/main/resources/application-prod-fss.properties
  web/src/main/resources/application.properties
  web/src/test/resources/application-local.properties
Labels: none

Kaller fpwsproxy med AzureAd client credential
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/arena/FpwsproxyKlient.java
Labels: none

Felles + task uten system-audit. Skru om azure-default
  pom.xml
  web/src/main/resources/application.properties
  web/src/test/resources/application-local.properties
Labels: pom

Resten av sonartingene
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/Ytelse.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/arbeidsforhold/ArbeidsforholdOverstyring.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/arbeidsforhold/impl/ArbeidsforholdTjenesteMedRestTest.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/komponenten/impl/InntektTjenesteImplTest.java
  domenetjenester/kobling/src/test/java/no/nav/foreldrepenger/abakus/typer/InternArbeidsforholdRefTest.java
  domenetjenester/kobling/src/test/java/no/nav/foreldrepenger/abakus/typer/StillingsprosentTest.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/diff/DiffResult.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/inntekt/v1/UtbetalingsPostDto.java
  web/src/test/java/no/nav/foreldrepenger/abakus/app/RapporterUnmappedKolonnerIDatabaseTest.java
Labels: kontrakt

Litt mer sonar
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/typer/AktørId.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/typer/JournalpostId.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/typer/OrgNummer.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/typer/Saksnummer.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/diff/TraverseGraph.java
Labels: none

Fikse refresh-bug
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/GrunnlagRestTjeneste.java
Labels: none

Kaller fpwsproxy med AzureAd client credential (#2313)
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/arena/FpwsproxyKlient.java
Labels: none

Revert "Kaller fpwsproxy med AzureAd client credential (#2313)"
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/arena/FpwsproxyKlient.java
Labels: none

Felles 4236
  pom.xml
Labels: pom

Felles 4236 (#2326)
  pom.xml
Labels: pom

Rydder
  kontrakt-vedtak/pom.xml
  pom.xml
Labels: pom

Bump deps
  pom.xml
Labels: pom

Bump felles, kontrakter, bom, prosesstask (#2335)
  kontrakt-vedtak/pom.xml
  pom.xml
Labels: pom

Oppdatert ingress spøkelse dev
  .deploy/dev-fss-teamforeldrepenger.json
  pom.xml
  web/src/main/resources/application-dev-fss.properties
  web/src/test/resources/application-vtp.properties
Labels: pom

Ikke intern-dev i dev-fss
  .deploy/dev-fss-teamforeldrepenger.json
Labels: none

Oppdatert ingress spøkelse dev (#2341)
  pom.xml
  web/src/main/resources/application-dev-fss.properties
  web/src/test/resources/application-vtp.properties
Labels: pom

Oppretter kolonne for lønninntektbeskrivelsetype
  migreringer/src/main/resources/db/migration/defaultDS/2.0/V2.0_023__lønnsinntektbeskrivelse.sql
Labels: migreringer

Oppretter kolonne for lønninntektbeskrivelsetype (#2346)
  migreringer/src/main/resources/db/migration/defaultDS/2.0/V2.0_023__lønnsinntektbeskrivelse.sql
Labels: migreringer
