Repository navikt/fp-abakus, pull requests merged in 2021-06, with the labels that each got.

#1422 Migrering for å fjerne inntektsmeldinger som er lagret med feil i dat…
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_99__fjerner-inntektsmeldinger-som-er-lagret-feil.sql
Labels: migreringer

#1438 Oppretter 2.0 migrering
  migreringer/src/main/resources/db/migration/defaultDS/2.0/V2.0_001__a-new-beginning.sql
  migreringer/src/main/resources/db/migration/defaultDS/2.0/V2.0_002__fjerner-inntektsmeldinger-som-er-lagret-feil.sql
Labels: migreringer

#1448 feat: legger til rapport på dup arbeidsforhold, diagnostikk på regist…
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/typer/EksternArbeidsforholdRef.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/typer/InternArbeidsforholdRef.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/jpa/IntervallEntitet.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/YtelseType.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/ContainerContextRunner.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/CsvOutput.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/DebugDumpsters.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/DiagnostikkLoggDump.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/dumps/ArbeidsforholdOverstyringerDataDump.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/dumps/ArbeidsforholdReferanserDataDump.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/dumps/RegisterInnhentingDump.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/rapportering/RapportGenerator.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/rapportering/RapportType.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/rapportering/RapportTypeRef.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/rapportering/RapporteringRestTjeneste.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/rapportering/UttrekkDuplikatArbeidsforhold.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/rapportering/YtelseTypeKode.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/rapportering/ZipOutput.java
Labels: kontrakt, web

#1472 Feature/rydder etter duplikate areidsforhold PSB
  migreringer/src/main/resources/db/migration/defaultDS/2.0/V2.0_003__Rydder-bort-duplikate-referanser-del1.sql
  migreringer/src/main/resources/db/migration/defaultDS/2.0/V2.0_004__Rydder-bort-duplikate-referanser-del2.sql
Labels: migreringer

#1480 fix: blokker alle nye duplikate innslag i IAY_ARBEIDSFORHOLD_REFER ta…
  migreringer/src/main/resources/db/migration/defaultDS/2.0/V2.0_005__uidx_arbeidsforhold_refer_ekstern_referanse.sql
Labels: migreringer

#1485 fix: legger til mdc prosess parametere fra request for bedre indekser…
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/ArbeidsforholdRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/GrunnlagRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/InntektsmeldingerRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/OppgittOpptjeningRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/OppgittOpptjeningV2RestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/tjeneste/RegisterdataRestTjeneste.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/kobling/KoblingReferanse.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/tjeneste/YtelseRestTjeneste.java
  felles/pom.xml
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/LoggUtil.java
Labels: pom

#1487 Ikke logg sql ved error
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/db/DatasourceUtil.java
Labels: web
