Repository navikt/fp-abakus, pull requests merged in 2021-01, with the labels that each got.

#1169 Oppdaterer til nytt fellesbib. Krever nytt endepunkt PDL
  .deploy/dev-fss-default.yaml
  .deploy/prod-fss-default.yaml
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/aktor/AktørTjeneste.java
  pom.xml
  web/app-vtp.properties
Labels: pom

#1173 Update AktørDatoRequest.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/request/AktørDatoRequest.java
Labels: kontrakt

#1171 NOJIRA sende med riktig tema i header
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/aktor/AktørTjeneste.java
  pom.xml
Labels: pom

#1177 fix: felles 3.0.60
  felles/pom.xml
  pom.xml
  prosesstask/pom.xml
  web/pom.xml
Labels: pom

#1184 oppdater felles 3.0.65
  pom.xml
Labels: pom

#1187 oppdaterer prosesstask 2.5.12 (synk med felles 3.0.66)
  pom.xml
Labels: pom

#1190 oppdaterer felles 3.0.67 (inkl cxf 3.4.2)
  pom.xml
Labels: pom

#1193 eksponerer ikke cxf/soap services, fjerner cxf-rt-transports-http-jetty
  web/pom.xml
Labels: pom

#1198 fix: bedre håndtering av feilede batch tasks
  pom.xml
Labels: pom

#1202 Oppdaterer til ny felles med PdlJerseyKlient med endret expiryolicy f…
  pom.xml
  web/src/main/resources/logback-dev-fss.xml
Labels: pom

#1204 Endrer litt i oppstart av tjenester
  domenetjenester/lonnskomp/src/main/java/no/nav/foreldrepenger/abakus/lonnskomp/kafka/LonnskompConsumer.java
  domenetjenester/lonnskomp/src/main/java/no/nav/foreldrepenger/abakus/lonnskomp/kafka/LonnskompStreamKafkaProperties.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/kafka/KafkaIntegration.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/kafka/VedtakConsumer.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/kafka/VedtakStreamKafkaProperties.java
  felles/pom.xml
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/kafka/ApplicationIdUtil.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/kafka/KafkaIntegration.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/kafka/Topic.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/konfig/ApplicationServiceStarter.java
  web/src/test/java/no/nav/foreldrepenger/abakus/app/tjenester/ApplicationServiceStarterTest.java
  web/src/test/java/no/nav/foreldrepenger/abakus/app/tjenester/UnitTestInstanceImpl.java
Labels: pom, web

#1206 oppdaterer felles 3.0.76
  pom.xml
Labels: pom

#1208 TFP-4046 legger på lønnskomp for fp/svp + sjekk sigrun/fjor først 1/5
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/IAYRegisterInnhentingFellesTjenesteImpl.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/InnhentingSamletTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunConsumerImpl.java
  domenetjenester/lonnskomp/src/main/java/no/nav/foreldrepenger/abakus/lonnskomp/domene/LønnskompensasjonRepository.java
  pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/app/vedlikehold/ForvaltningRestTjeneste.java
Labels: pom, web
