Repository navikt/fp-abakus, pull requests merged in 2021-05, with the labels that each got.

#1364 Oppdatere felles og prosesstask mm
  .deploy/dev-fss-default.yaml
  .deploy/prod-fss-default.yaml
  Dockerfile
  domenetjenester/iay/pom.xml
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/dto/arbeidsforhold/ArbeidsforholdDtoTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/IAYRegisterInnhentingFellesTjenesteImpl.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/arbeidsforhold/ArbeidsforholdUgyldigInputException.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/arena/MeldekortTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/rest/felles/AbstractInfotrygdGrunnlag.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/spokelse/SpokelseKlient.java
  domenetjenester/lonnskomp/src/main/java/no/nav/foreldrepenger/abakus/lonnskomp/kafka/LonnskompConsumer.java
  domenetjenester/lonnskomp/src/main/java/no/nav/foreldrepenger/abakus/lonnskomp/kafka/LonnskompHendelseHåndterer.java
  domenetjenester/lonnskomp/src/main/java/no/nav/foreldrepenger/abakus/lonnskomp/kafka/LønnskompensasjonVedtakMelding.java
  domenetjenester/vedtak/pom.xml
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/LagreVedtakTask.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/tjeneste/YtelseRestTjeneste.java
  domenetjenester/vedtak/src/test/java/no/nav/foreldrepenger/abakus/vedtak/LagreVedtakTaskTest.java
  felles/pom.xml
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/diff/DiffResult.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/diff/TraverseGraph.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/metrikker/MetrikkerTjeneste.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/metrikker/TaskStatusEventObserver.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/sikkerhet/AbacAttributter.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/sikkerhet/AbacBehandlingStatus.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/sikkerhet/AbacFagsakStatus.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/sikkerhet/AbacResourceMapper.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/sikkerhet/PdpRequestBuilderImpl.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/sikkerhet/XacmlRequestBuilderTjenesteImpl.java
  pom.xml
  web/pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/DebugDumpsters.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/DiagnostikkRestTjeneste.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/exceptions/ConstraintViolationMapper.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/exceptions/GeneralRestExceptionMapper.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/konfig/ApplicationServiceStarter.java
  web/src/main/resources/WEB-INF/web.xml
  web/src/main/resources/logback.xml
  web/src/test/java/no/nav/foreldrepenger/abakus/app/tjenester/ApplicationServiceStarterTest.java
Labels: pom, web

#1390 fix: bruk partielle indekser framfor funsjonsindekser i postgres for …
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_95__forbedre-aktiv-indeks-01.sql
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_96__forbedre-aktiv-indeks-02.sql
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_97__forbedre-aktiv-indeks-03.sql
Labels: migreringer

#1378 Retry hver 2 time gjennom dagen
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/aktor/AktørTjeneste.java
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_98__oppdater_cron_på_retry_task.sql
  pom.xml
Labels: migreringer, pom
