Repository navikt/fp-abakus, pull requests merged in 2021-02, with the labels that each got.

#1220 verifiserer enum ctor - fjerner warnings fra javax.validation
  pom.xml
Labels: pom

#1241 TFP-2397 midl løsning for konkurs ag med refusjon
  domenetjenester/lonnskomp/pom.xml
  domenetjenester/vedtak/pom.xml
  kodeverk/pom.xml
  kontrakt/pom.xml
  pom.xml
  web/pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/app/vedlikehold/EliminerInntektsmeldingRequest.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/vedlikehold/ForvaltningRestTjeneste.java
Labels: pom, web

#1252 TFP-4025 hent frilans arbeidsforhold fra aareg
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/IAYRegisterInnhentingFellesTjenesteImpl.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/ArbeidType.java
  pom.xml
  web/pom.xml
Labels: kontrakt, pom
