Repository navikt/fp-abakus, pull requests merged in 2021-04, with the labels that each got.

#1311 Takler at data fra sigrun er endret, behold gammelt
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/Inntekt.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/InntektBuilder.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/IAYRegisterInnhentingFellesTjenesteImpl.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/domene/iay/InntektArbeidYtelseRepositoryTest.java
  pom.xml
  web/pom.xml
Labels: pom

#1318 feature: dump diagnostikk for en angitt sak/aktør for lettere å kunne…
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/komponenten/InntektTjeneste.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/kobling/Kobling.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/kobling/kontroll/YtelseTypeRef.java
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_91__diagnostikk-logg.sql
  web/pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/DebugDump.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/DebugDumpsters.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/DiagnostikkLogg.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/DiagnostikkLoggDump.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/DiagnostikkRestTjeneste.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/DumpKontekst.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/DumpOutput.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/dumps/ArbeidsforholdOverstyringerDataDump.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/dumps/ArbeidsforholdReferanserDataDump.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/dumps/RegisterInnhentingDump.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/konfig/ApplicationConfig.java
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/JettyServer.java
  web/src/main/resources/META-INF/pu-default.diagnostikk.orm.xml
  web/src/main/resources/web/swagger/index.html
  web/src/main/resources/web/swagger/local-swagger.css
  web/src/main/resources/web/swagger/local-swagger.js
Labels: migreringer, pom, web

#1320 fix: logger dersom ikke finner ekstern arb referanse (tar med hvilket…
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/InntektArbeidYtelseRepository.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/Permisjon.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/arbeidsforhold/ArbeidsforholdInformasjon.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/InntektArbeidYtelseTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/dto/iay/MapAktørArbeid.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/dto/iay/MapArbeidsforholdInformasjon.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/dumps/ArbeidsforholdReferanserDataDump.java
Labels: web

#1332 Basis Java 16 og noen eksempel
  .github/workflows/build-pr.yml
  .github/workflows/build.yml
  .java-version
  Dockerfile
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/InntektArbeidYtelseRepository.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/InntektArbeidYtelseTjeneste.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/domene/VedtakYtelseRepository.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/diff/DiffResult.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/diff/Pair.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/UtbetaltYtelseType.java
  pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/app/metrics/TextFormater.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/sikkerhet/XacmlRequestBuilderTjenesteImpl.java
Labels: kontrakt, pom, web

#1342 Fjerne bruk av deprekert fellesmetode
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/db/DatasourceUtil.java
Labels: web

#1330 Utvide Ytelse-kontrakt med tilleggsopplysninger og lagre disse
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/domene/VedtakYtelse.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/domene/VedtakYtelseBuilder.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/extract/v1/ExtractFromYtelseV1.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/tjeneste/YtelseRestTjeneste.java
  kontrakt/src/main/java/no/nav/abakus/vedtak/ytelse/v1/YtelseV1.java
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_93__ytelse-anvist-beskrivelse.sql
Labels: kontrakt, migreringer

#1357 Fix: inkludere aggregat-id på unik indeks for oppgitt opptjening
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_94__oppgitt_opptjening_constraint.sql
Labels: migreringer
