Repository navikt/fp-abakus, pull requests merged in 2022-11, with the labels that each got.

#2118 Bruker felles GHA workflow oppsett.
  .github/workflows/build-pr.yml
  .github/workflows/build.yml
  .github/workflows/dispatch.yml
  .github/workflows/promote.yml
  .github/workflows/release-kontrakt.yml
  .github/workflows/snyk.yml
  Dockerfile
  migreringer/pom.xml
  web/pom.xml
Labels: pom

#2128 Skrur av batchInserts i autotest.
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/db/DatasourceUtil.java
  web/src/main/resources/application-dev-fss.properties
  web/src/main/resources/application-prod-fss.properties
  web/src/main/resources/application.properties
  web/src/test/resources/application-local.properties
Labels: web

#2130 Ruller tilbake reWriteBatchedInserts oppsett.
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/db/DatasourceUtil.java
  web/src/main/resources/application-dev-fss.properties
  web/src/main/resources/application-prod-fss.properties
  web/src/main/resources/application.properties
  web/src/test/resources/application-local.properties
Labels: web

#2137 TFP-5193: Tar i bruk fp-ws-proxy DTO fra fpkontrakter
  domenetjenester/iay/pom.xml
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/arena/rs/ArenaRequestDto.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/arena/rs/BeløpDto.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/arena/rs/FpwsproxyKlient.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/arena/rs/MedlemskortUtbetalingsgrunnlagSakMapper.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/arena/rs/MeldekortUtbetalingsgrunnlagMeldekortDto.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/arena/rs/MeldekortUtbetalingsgrunnlagSakDto.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/arena/rs/MedlemskortUtbetalingsgrunnlagSakMapperTest.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/arena/rs/MeldekortUtbetalingsgrunnlagSakDtoSeraliseringOgDeseraliseringTest.java
  pom.xml
Labels: pom

#2136 Nye permisjonsbeskrivelser fom 2023
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/PermisjonsbeskrivelseType.java
Labels: kontrakt

#2148 Felles 4.1.20 med open-am bruk logging.
  pom.xml
Labels: pom

#2144 TFP-5193: Erstatter direkte integrasjon mot arena med via fp-ws-proxy…
  .deploy/dev-fss-teamforeldrepenger.json
  .deploy/prod-fss-teamforeldrepenger.json
  domenetjenester/iay/pom.xml
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/InnhentingSamletTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/arena/FpwsproxyKlient.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/arena/MedlemskortUtbetalingsgrunnlagSakMapper.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/arena/MeldekortTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/arena/ws/MeldekortUtbetalingsgrunnlagConsumer.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/arena/ws/MeldekortUtbetalingsgrunnlagConsumerConfig.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/arena/ws/MeldekortUtbetalingsgrunnlagConsumerImpl.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/arena/ws/MeldekortUtbetalingsgrunnlagConsumerProducer.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/arena/ws/MeldekortUtbetalingsgrunnlagConsumerProducerDelegator.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/arena/ws/MeldekortUtbetalingsgrunnlagSelftestConsumer.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/arena/ws/MeldekortUtbetalingsgrunnlagSelftestConsumerImpl.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/arena/ws/package-info.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/InnhentingSamletTjenesteTest.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/arena/MedlemskortUtbetalingsgrunnlagSakMapperTest.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/arena/MeldekortUtbetalingsgrunnlagSakDtoSeraliseringOgDeseraliseringTest.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/arena/ws/MeldekortUtbetalingsgrunnlagConsumerTest.java
  pom.xml
  web/pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/dumps/RegisterInnhentingDump.java
  web/src/main/resources/logback.xml
  web/src/test/resources/application-local.properties
Labels: pom, web

#2164 Fikser swagger for ekstern api
  .editorconfig
  web/src/main/java/no/nav/foreldrepenger/abakus/app/konfig/ApiConfig.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/konfig/EksternApiConfig.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/konfig/EksternApplicationConfig.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/konfig/InternalApplication.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/selftest/HealthCheckRestService.java
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/JettyServer.java
  web/src/main/resources/WEB-INF/web.xml
  web/src/main/resources/web/swagger/local-swagger.js
  web/src/test/java/no/nav/foreldrepenger/abakus/app/konfig/RestApiTester.java
  web/src/test/java/no/nav/foreldrepenger/abakus/app/tjenester/HealthCheckRestServiceTest.java
Labels: web
