Repository navikt/fp-abakus, pull requests merged in 2022-03, with the labels that each got.

#1815 TFP-4705 sanere lonnskompinnhenting
  .github/workflows/build-pr.yml
  .github/workflows/build.yml
  .github/workflows/promote.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release-kontrakt.yml
  domenetjenester/lonnskomp/README.md
  domenetjenester/lonnskomp/src/main/java/no/nav/foreldrepenger/abakus/lonnskomp/LagreLønnskompensasjonTask.java
  domenetjenester/lonnskomp/src/main/java/no/nav/foreldrepenger/abakus/lonnskomp/domene/LønnskompensasjonFilter.java
  domenetjenester/lonnskomp/src/main/java/no/nav/foreldrepenger/abakus/lonnskomp/domene/LønnskompensasjonRepository.java
  domenetjenester/lonnskomp/src/main/resources/META-INF/pu-default.lonnskomp.orm.xml
  domenetjenester/lonnskomp/src/test/java/no/nav/foreldrepenger/abakus/lonnskomp/LagreLønnskompensasjonTaskTest.java
  migreringer/src/main/resources/db/migration/defaultDS/2.0/V2.0_018__fjern_lonnskomp_filter.sql
  pom.xml
Labels: pom, migreringer

#1832 Tar i bruk refusjonTom og graderer dagsats basert på utbetalingsgrad …
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/YtelseAnvistAndel.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/infotrygd/InfotrygdgrunnlagYtelseMapper.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/InnhentingInfotrygdTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/dto/InfotrygdYtelseArbeid.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/dto/InfotrygdYtelseGrunnlag.java
  pom.xml
Labels: pom

#1843 Topic får pakkelokale enums, fikse felles/pdl
  .github/workflows/dispatch.yml
  .github/workflows/release-drafter.yml
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/extract/v1/ExtractFromYtelseV1.java
  domenetjenester/vedtak/src/test/java/no/nav/foreldrepenger/abakus/vedtak/extract/v1/ExtractFromYtelseV1Test.java
  kontrakt/src/main/java/no/nav/abakus/vedtak/ytelse/Kildesystem.java
  kontrakt/src/main/java/no/nav/abakus/vedtak/ytelse/Status.java
  kontrakt/src/main/java/no/nav/abakus/vedtak/ytelse/Ytelse.java
  kontrakt/src/main/java/no/nav/abakus/vedtak/ytelse/Ytelser.java
  kontrakt/src/main/java/no/nav/abakus/vedtak/ytelse/v1/YtelseV1.java
  kontrakt/src/main/java/no/nav/abakus/vedtak/ytelse/v1/anvisning/AnvistAndel.java
  kontrakt/src/main/java/no/nav/abakus/vedtak/ytelse/v1/anvisning/Inntektklasse.java
  pom.xml
  web/pom.xml
Labels: pom, kontrakt

#1847 Populere YtelseV1 for rest-tjenester
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/tjeneste/EksternDelingAvYtelserRestTjeneste.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/tjeneste/YtelseRestTjeneste.java
  domenetjenester/vedtak/src/test/java/no/nav/foreldrepenger/abakus/vedtak/extract/v1/ExtractFromYtelseV1Test.java
  web/pom.xml
Labels: pom

#1855 VedtakFattet uten relasjon til IAY-kodeverk
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/extract/v1/ExtractFromYtelseV1.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/tjeneste/EksternDelingAvYtelserRestTjeneste.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/tjeneste/YtelseRestTjeneste.java
  domenetjenester/vedtak/src/test/java/no/nav/foreldrepenger/abakus/vedtak/LagreVedtakTaskTest.java
  domenetjenester/vedtak/src/test/java/no/nav/foreldrepenger/abakus/vedtak/extract/v1/ExtractFromYtelseV1Test.java
  kontrakt/src/main/java/no/nav/abakus/vedtak/ytelse/Kodeverk.java
  kontrakt/src/main/java/no/nav/abakus/vedtak/ytelse/Ytelse.java
  kontrakt/src/main/java/no/nav/abakus/vedtak/ytelse/v1/YtelseV1.java
  kontrakt/src/main/java/no/nav/abakus/vedtak/ytelse/v1/anvisning/AnvistAndel.java
  pom.xml
  web/pom.xml
Labels: pom, kontrakt
