Repository navikt/fp-abakus, pull requests merged in 2022-10, with the labels that each got.

#2061 Slutt med dobbelinnhenting/sammenligning Sigrun
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/SigrunTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/RestClientSupportProdusent.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunConsumerImpl.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunNativeImpl.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunRestClient.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunRestConfig.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunRestNativeConfig.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunConsumerImplTest.java
  pom.xml
Labels: pom

#2067 Forvaltningstjeneste for å vaske begrunnelse i oppgitt næring
  web/src/main/java/no/nav/foreldrepenger/abakus/app/vedlikehold/ForvaltningRestTjeneste.java
Labels: web

#2072 Felles 4.2.2
  domenetjenester/iay/pom.xml
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/arbeidsforhold/rest/AaregRestKlient.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/arbeidsgiver/virksomhet/VirksomhetTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/arbeidsgiver/virksomhet/rest/JuridiskEnhetVirksomheter.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/arbeidsgiver/virksomhet/rest/OrganisasjonEReg.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/arbeidsgiver/virksomhet/rest/OrganisasjonRestKlient.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/arbeidsgiver/virksomhet/rest/OrganisasjonstypeEReg.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/callback/CallbackTask.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/komponenten/InntektTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunConsumerImpl.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunRestClient.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/arena/rs/FpwsproxyKlient.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/InnhentingInfotrygdTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/rest/SpøkelseKlient.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/rest/felles/AbstractInfotrygdGrunnlag.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/rest/fp/InfotrygdFPGrunnlag.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/rest/ps/InfotrygdPSGrunnlag.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/rest/sp/InfotrygdSPGrunnlag.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/arbeidsforhold/impl/ArbeidsforholdTjenesteMedRestTest.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/arbeidsgiver/virksomhet/rest/EregRestTest.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/komponenten/impl/InntektTjenesteImplTest.java
  domenetjenester/kobling/pom.xml
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/aktor/AktørTjeneste.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/aktor/PdlKlient.java
  pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/dumps/RegisterInnhentingDump.java
Labels: pom, web

#2076 Vask nbsp
  web/src/main/java/no/nav/foreldrepenger/abakus/app/vedlikehold/BegrunnelseVasker.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/vedlikehold/ForvaltningRestTjeneste.java
  web/src/test/java/no/nav/foreldrepenger/abakus/app/vedlikehold/BegrunnelseVaskerTest.java
Labels: web

#2059 Egen opplysningsperiode for skattegrunnlag
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/GrunnlagRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/IAYRegisterInnhentingFellesTjenesteImpl.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/SigrunTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunConsumer.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunConsumerImpl.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/tjeneste/InnhentRegisterdataTjeneste.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunConsumerImplTest.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/kobling/Kobling.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/request/InnhentRegisterdataRequest.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/request/KopierGrunnlagRequest.java
  migreringer/src/main/resources/db/migration/defaultDS/2.0/V2.0_020__opplysningsperiode_naering.sql
Labels: kontrakt, migreringer

#2079 Henter oppgitt opptjening fra aggregat
  web/src/main/java/no/nav/foreldrepenger/abakus/app/vedlikehold/ForvaltningRestTjeneste.java
Labels: web

#2081 Felles 423
  .github/workflows/build-pr.yml
  .github/workflows/build.yml
  .github/workflows/promote.yml
  .github/workflows/release-kontrakt.yml
  .github/workflows/snyk.yml
  pom.xml
Labels: pom

#2084 Forlenger timeout
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/dumps/RegisterInnhentingDump.java
Labels: web

#2086 Legger løpenummer i filnavn
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/dumps/RegisterInnhentingDump.java
Labels: web

#2098 Oppdater felles, innfør timing av kall til SP
  .github/workflows/build-pr.yml
  .github/workflows/build.yml
  .github/workflows/release-drafter.yml
  .github/workflows/snyk.yml
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/InnhentingInfotrygdTjeneste.java
  pom.xml
Labels: pom

#2104 Prøv spøkelse retry med stigende timeout
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/InnhentingSamletTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/InnhentingInfotrygdTjeneste.java
  pom.xml
Labels: pom
