Repository navikt/fp-abakus, pull requests merged in 2022-02, with the labels that each got.

#1770 Felles 4116 med tasks/sts
  .github/workflows/release-drafter.yml
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunRestClient.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/InnhentingInfotrygdTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/rest/InfotrygdGrunnlag.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/rest/felles/AbstractInfotrygdGrunnlag.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/rest/felles/InfotrygdGrunnlagAggregator.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/rest/fp/InfotrygdFPGrunnlag.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/rest/ps/InfotrygdPSGrunnlag.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/rest/sp/InfotrygdSPGrunnlag.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/aktor/AktørTjeneste.java
  pom.xml
  web/pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/app/vedlikehold/ForvaltningRestTjeneste.java
Labels: pom, web

#1778 Fjerne utgått dep
  web/pom.xml
Labels: pom

#1789 Fjerne sam, oppdatere deps
  pom.xml
  web/pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/JettyWebKonfigurasjon.java
  web/src/main/resources/WEB-INF/web.xml
Labels: pom, web

#1757 Oppretter tabeller og mapper til anviste andeler fra vedtatt ytelse
  .deploy/dev-fss-teamforeldrepenger.yaml
  .deploy/prod-fss-teamforeldrepenger.yaml
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/YtelseAnvist.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/YtelseAnvistAndel.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/YtelseAnvistAndelBuilder.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/YtelseAnvistBuilder.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/DefaultIAYRegisterInnhentingTjenesteImpl.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/IAYRegisterInnhentingFellesTjenesteImpl.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/VedtattYtelseInnhentingTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/YtelseRegisterInnhenting.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/fagsakytelser/es/IAYRegisterInnhentingESTjenesteImpl.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/fagsakytelser/k9/IAYRegisterInnhentingK9TjenesteImpl.java
  domenetjenester/iay/src/main/resources/META-INF/pu-default.inntektarbeidytelse.orm.xml
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/VedtattYtelseInnhentingTjenesteTest.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/domene/InntektskategoriKodeverdiConverter.java
  migreringer/src/main/resources/db/migration/defaultDS/2.0/V2.0_017__Ny_tabell_iay_ytelse_andel.sql
Labels: migreringer

#1804 Legger til anvist andel i kontrakt
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/dto/iay/MapAktørYtelse.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/ytelse/v1/AnvisningDto.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/ytelse/v1/AnvistAndelDto.java
Labels: kontrakt
