Repository navikt/fp-abakus, pull requests merged in 2022-09, with the labels that each got.

#2007 Fiks flyway 9
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/JettyServer.java
  web/src/test/java/no/nav/foreldrepenger/abakus/jetty/JettyDevServer.java
Labels: web

#1986 Serialiser kodeverdi som string, fase 2
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/ArbeidType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/ArbeidsforholdHandlingType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/Arbeidskategori.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/BekreftetPermisjonStatus.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/Fagsystem.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/InntektPeriodeType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/Inntektskategori.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/InntektskildeType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/InntektsmeldingInnsendingsårsakType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/InntektspostType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/Landkode.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/NaturalytelseType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/OrganisasjonType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/PermisjonsbeskrivelseType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/SkatteOgAvgiftsregelType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/TemaUnderkategori.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/UtbetaltNæringsYtelseType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/UtbetaltPensjonTrygdType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/UtbetaltYtelseFraOffentligeType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/UtsettelseÅrsakType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/VirksomhetType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/YtelseStatus.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/YtelseType.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/JsonObjectMapper.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/KodeverdiSerializer.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/request/RegisterdataType.java
  pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/app/jackson/JacksonJsonConfig.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/jackson/KodelisteSerializer.java
Labels: pom, kontrakt, web

#2016 Expand-fase i modernisering av abac/pdp-grensesnitt
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/ArbeidsforholdRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/GrunnlagRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/InntektsmeldingerRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/OppgittOpptjeningRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/OppgittOpptjeningV2RestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/tjeneste/RegisterdataRestTjeneste.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/tjeneste/YtelseRestTjeneste.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/sikkerhet/PdpRequestBuilderImpl.java
  pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/DiagnostikkRestTjeneste.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/rapportering/RapporteringRestTjeneste.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/rest/ekstern/EksternDelingAvYtelserRestTjeneste.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/vedlikehold/ForvaltningRestTjeneste.java
  web/src/test/java/no/nav/foreldrepenger/abakus/app/konfig/RestApiAbacTest.java
Labels: pom, web

#2013 Tjeneste for å migrere referanser
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/arbeidsforhold/ArbeidsforholdInformasjon.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/arbeidsforhold/ArbeidsforholdInformasjonBuilder.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/vedlikehold/ForvaltningRestTjeneste.java
Labels: web

#2018 Forenkling av abac, contract-fase
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/sikkerhet/AbacAttributter.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/sikkerhet/AbacBehandlingStatus.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/sikkerhet/AbacFagsakStatus.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/sikkerhet/AbacResourceMapper.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/sikkerhet/PdpRequestBuilderImpl.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/sikkerhet/XacmlRequestBuilderTjenesteImpl.java
  pom.xml
  web/src/test/java/no/nav/foreldrepenger/abakus/app/konfig/RestApiAbacTest.java
Labels: pom

#2022 Fikser feil i forvaltningstjeneste
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/arbeidsforhold/ArbeidsforholdInformasjon.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/arbeidsforhold/ArbeidsforholdInformasjonBuilder.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/arbeidsforhold/ArbeidsforholdReferanse.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/arbeidsforhold/ForvaltningReferanseTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/inntektsmelding/ForvaltningEndreInternReferanse.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/vedlikehold/ForvaltningRestTjeneste.java
Labels: web

#2032 Legger på aad konfig støtte. Swagger tilgang.
  .deploy/dev-fss-teamforeldrepenger.yaml
  .deploy/prod-fss-teamforeldrepenger.yaml
  pom.xml
  web/src/main/resources/WEB-INF/web.xml
Labels: pom

#2027 Fjerne kompenserende tiltak - bruk kun jsonvalue
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/RegisterdataTaskTest.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/ArbeidType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/ArbeidsforholdHandlingType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/Arbeidskategori.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/BekreftetPermisjonStatus.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/Fagsystem.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/InntektPeriodeType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/Inntektskategori.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/InntektskildeType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/InntektsmeldingInnsendingsårsakType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/InntektspostType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/Landkode.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/NaturalytelseType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/OrganisasjonType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/PermisjonsbeskrivelseType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/SkatteOgAvgiftsregelType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/TemaUnderkategori.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/TempAvledeKode.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/UtbetaltNæringsYtelseType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/UtbetaltPensjonTrygdType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/UtbetaltYtelseFraOffentligeType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/UtsettelseÅrsakType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/VirksomhetType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/YtelseStatus.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/YtelseType.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/request/RegisterdataType.java
  kontrakt/src/test/resources/iay_case_001.json
  kontrakt/src/test/resources/iay_case_002.json
  kontrakt/src/test/resources/iay_case_003.json
  kontrakt/src/test/resources/iay_case_004.json
  kontrakt/src/test/resources/iay_case_005.json
Labels: kontrakt
