Repository navikt/fp-abakus, pull requests merged in 2022-08, with the labels that each got.

#1959 Legger til .flattened og attach-sources
  .gitignore
  pom.xml
Labels: pom

#1965 Logg evt rest-forekomst av kodeverdi som objekt
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/TempAvledeKode.java
Labels: kontrakt

#1968 Endrer annotasjon til å benytte seg av enum
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/DefaultIAYRegisterInnhentingTjenesteImpl.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/fagsakytelser/es/IAYRegisterInnhentingESTjenesteImpl.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/fagsakytelser/k9/IAYRegisterInnhentingK9TjenesteImpl.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/kobling/kontroll/YtelseTypeRef.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/DebugDumpsters.java
Labels: web

#1978 Felles 4.1.34 + matchende task og kontrakter
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/RegisterdataTaskTest.java
  pom.xml
Labels: pom
