Repository navikt/fp-abakus, pull requests merged in 2023-03, with the labels that each got.

#2289 Feat: Rydder i prosjekt struktur.
  .deploy/dev-fss-teamforeldrepenger.json
  .deploy/naiserator.yaml
  .deploy/prod-fss-teamforeldrepenger.json
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/dispatch.yml
  .github/workflows/release-kontrakt.yml
  .github/workflows/snyk.yml
  README.md
  domenetjenester/pom.xml
  lokalutvikling/docker-compose.yml
  lokalutvikling/update-versions.sh
  pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/app/selftest/HealthCheckRestService.java
Labels: pom, web

#2293 Bytter til nye healthcheck endepunkter. Deprecate de gamle.
  .deploy/naiserator.yaml
  web/src/main/java/no/nav/foreldrepenger/abakus/app/selftest/HealthCheckRestService.java
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/DatasourceRole.java
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/DatasourceUtil.java
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/JettyServer.java
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/db/DatasourceRole.java
  web/src/test/java/no/nav/foreldrepenger/abakus/jetty/JettyDevServer.java
Labels: web

#2295 Forenkler oppstart. Healthcheck. Fikser en del sonar mangel.
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/kafka/VedtakConsumer.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/jpa/AbstractIntervall.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/kafka/KafkaIntegration.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/IndexClasses.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/ContainerContextRunner.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/CsvOutput.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/DebugDumpsters.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/DiagnostikkLoggDump.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/dumps/ArbeidsforholdOverstyringerDataDump.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/dumps/ArbeidsforholdReferanserDataDump.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/dumps/RegisterInnhentingDump.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/rapportering/RapportType.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/rapportering/RapportTypeRef.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/rapportering/UttrekkDuplikatArbeidsforhold.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/rapportering/ZipOutput.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/exceptions/ConstraintViolationMapper.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/exceptions/FeltValideringFeil.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/healthcheck/DatabaseHealthCheck.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/healthcheck/HealthCheckRestService.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/jackson/JacksonJsonConfig.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/konfig/ApplicationServiceStarter.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/konfig/InternalApiConfig.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/rest/ekstern/EksternDelingAvYtelserRestTjeneste.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/selftest/HealthCheckRestService.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/selftest/checks/DatabaseHealthCheck.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/tjenester/ApplicationServiceStarter.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/tjenester/ServiceStarterListener.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/vedlikehold/BegrunnelseVasker.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/vedlikehold/ByttAktørRequest.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/vedlikehold/EliminerInntektsmeldingRequest.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/vedlikehold/ForvaltningRestTjeneste.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/vedlikehold/VarigEndringRequest.java
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/JettyServer.java
  web/src/test/java/no/nav/foreldrepenger/abakus/app/RapporterUnmappedKolonnerIDatabaseTest.java
  web/src/test/java/no/nav/foreldrepenger/abakus/app/SjekkDtoStrukturTest.java
  web/src/test/java/no/nav/foreldrepenger/abakus/app/exceptions/GeneralRestExceptionMapperTest.java
  web/src/test/java/no/nav/foreldrepenger/abakus/app/exceptions/JsonMappingExceptionMapperTest.java
  web/src/test/java/no/nav/foreldrepenger/abakus/app/healthcheck/HealthCheckRestServiceTest.java
  web/src/test/java/no/nav/foreldrepenger/abakus/app/konfig/RestApiAbacTest.java
  web/src/test/java/no/nav/foreldrepenger/abakus/app/konfig/RestApiInputValideringAnnoteringTest.java
  web/src/test/java/no/nav/foreldrepenger/abakus/app/selftest/checks/DatabaseHealthCheckTest.java
  web/src/test/java/no/nav/foreldrepenger/abakus/app/tjenester/ApplicationServiceStarterTest.java
  web/src/test/java/no/nav/foreldrepenger/abakus/app/tjenester/HealthCheckRestServiceTest.java
  web/src/test/java/no/nav/foreldrepenger/abakus/app/tjenester/UnitTestInstanceImpl.java
Labels: web

#2302 Prosesstask bruker azure når adaptive
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/callback/CallbackTask.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/tjeneste/InnhentRegisterdataTjeneste.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/kobling/TaskConstants.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/request/InnhentRegisterdataRequest.java
  web/src/main/resources/application.properties
  web/src/test/resources/application-local.properties
Labels: kontrakt

#2301 Standardisering intern+ekstern deling av lagret vedtak
  .deploy/dev-fss-teamforeldrepenger.json
  .deploy/prod-fss-teamforeldrepenger.json
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/tjeneste/YtelseRestTjeneste.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/request/HentBrukersK9YtelserIPeriodeRequest.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/request/HentBrukersYtelserIPeriodeRequest.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/rest/ekstern/EksternDelingAvYtelserRestTjeneste.java
Labels: kontrakt, web

#2326 Felles 4236
  pom.xml
Labels: pom

#2335 Bump felles, kontrakter, bom, prosesstask
  kontrakt-vedtak/pom.xml
  pom.xml
Labels: pom
