Repository navikt/fp-abakus, pull requests merged in 2023-02, with the labels that each got.

#2236 Oppdater felles, task, kafka-oppsett
  domenetjenester/vedtak/pom.xml
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/kafka/VedtakConsumer.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/kafka/VedtakProperties.java
  pom.xml
Labels: pom

#2246 Bump felles + bom + kontrakter
  pom.xml
Labels: pom

#2252 Forenkler Jetty oppstart lokalt.
  pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/JettyServer.java
  web/src/test/resources/application-local.properties
Labels: pom, web

#2259 Felles 4225 task 3120 bruk kontekst
  .deploy/dev-fss-teamforeldrepenger.json
  .deploy/prod-fss-teamforeldrepenger.json
  domenetjenester/iay/pom.xml
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunRestClient.java
  domenetjenester/vedtak/pom.xml
  felles/pom.xml
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/jpa/BaseEntitet.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/kafka/ApplicationIdUtil.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/kafka/Topic.java
  pom.xml
  prosesstask/pom.xml
  web/pom.xml
  web/src/test/resources/application-local.properties
Labels: pom

#2278 Legg til kildesystem infotrygd
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/extract/v1/ConvertToYtelseV1.java
  kontrakt-vedtak/src/main/java/no/nav/abakus/vedtak/ytelse/Kildesystem.java
Labels: kontrakt

#2281 Bruk k9sak som kilde for alle k9-ytelser
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/extract/v1/ConvertToYtelseV1.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/extract/v1/ExtractFromYtelseV1.java
  kontrakt-vedtak/src/main/java/no/nav/abakus/vedtak/ytelse/Kildesystem.java
Labels: kontrakt

#2283 Ta med dummy vedtaksReferanse pga kontrakt NotNull
  web/src/main/java/no/nav/foreldrepenger/abakus/app/rest/ekstern/EksternDelingAvYtelserRestTjeneste.java
Labels: web
