Repository navikt/fp-abakus, pull requests merged in 2023-04, with the labels that each got.

#2341 Oppdatert ingress spøkelse dev
  pom.xml
  web/src/main/resources/application-dev-fss.properties
  web/src/test/resources/application-vtp.properties
Labels: pom

#2346 Oppretter kolonne for lønninntektbeskrivelsetype
  migreringer/src/main/resources/db/migration/defaultDS/2.0/V2.0_023__lønnsinntektbeskrivelse.sql
Labels: migreringer

#2349 Setter lønnsinntektbeskrivelse not null
  migreringer/src/main/resources/db/migration/defaultDS/2.0/V2.0_024__lønnsinntektbeskrivelse_not_null.sql
Labels: migreringer

#2345 Lager mapping for lønnsinntektbeskrivelse
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/Inntektspost.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/InntektspostBuilder.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/jpa/LønnsbeskrivelseKodeverdiConverter.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/dto/iay/MapAktørInntekt.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ByggLønnsinntektInntektTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/IAYRegisterInnhentingFellesTjenesteImpl.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/komponenten/InntektTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/komponenten/Månedsinntekt.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/ByggLønnsinntektInntektTjenesteTest.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/LønnsinntektBeskrivelse.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/inntekt/v1/UtbetalingsPostDto.java
Labels: kontrakt
