Repository navikt/fp-abakus, pull requests merged in 2023-12, with the labels that each got.

#2471 Postgres 16 + fp-bom 2.1.0
  lokalutvikling/update-versions.sh
  pom.xml
Labels: pom

#2473 EE10 tilpasning
  domenetjenester/pom.xml
  migreringer/pom.xml
  migreringer/src/test/java/no/nav/foreldrepenger/abakus/dbstoette/Databaseskjemainitialisering.java
  pom.xml
  web/pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/JettyServer.java
  web/src/test/java/no/nav/foreldrepenger/abakus/app/RapporterUnmappedKolonnerIDatabaseTest.java
  web/src/test/resources/application-vtp.properties
Labels: pom, web

#2478 EE10 - mindre justeringer
  domenetjenester/iay/src/main/resources/META-INF/beans.xml
  domenetjenester/iay/src/test/resources/META-INF/beans.xml
  domenetjenester/iay/src/test/resources/META-INF/persistence.xml
  domenetjenester/kobling/src/main/resources/META-INF/beans.xml
  domenetjenester/lonnskomp/src/main/resources/META-INF/beans.xml
  domenetjenester/lonnskomp/src/test/resources/META-INF/beans.xml
  domenetjenester/lonnskomp/src/test/resources/META-INF/persistence.xml
  domenetjenester/vedtak/src/main/resources/META-INF/beans.xml
  domenetjenester/vedtak/src/test/resources/META-INF/beans.xml
  domenetjenester/vedtak/src/test/resources/META-INF/persistence.xml
  felles/src/main/resources/META-INF/beans.xml
  migreringer/src/main/resources/META-INF/beans.xml
  migreringer/src/main/resources/META-INF/persistence.xml
  pom.xml
  prosesstask/src/main/resources/META-INF/beans.xml
  prosesstask/src/test/resources/META-INF/beans.xml
  web/pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/JettyServer.java
  web/src/main/resources/META-INF/beans.xml
  web/src/main/resources/WEB-INF/web.xml
  web/src/test/resources/META-INF/beans.xml
Labels: pom, web, migreringer

#2482 Bump fp-felles til 7.0.3
  pom.xml
Labels: pom
