Repository navikt/fp-abakus, pull requests merged in 2023-01, with the labels that each got.

#2191 Klarere skille vedtakytelse og grunnlag
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/VedtattYtelseInnhentingTjenesteTest.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/domene/VedtakYtelse.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/domene/VedtakYtelseBuilder.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/extract/v1/ConvertToYtelseV1.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/extract/v1/ExtractFromYtelseV1.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/tjeneste/YtelseRestTjeneste.java
  domenetjenester/vedtak/src/test/java/no/nav/foreldrepenger/abakus/vedtak/LagreVedtakTaskTest.java
  domenetjenester/vedtak/src/test/java/no/nav/foreldrepenger/abakus/vedtak/extract/v1/ExtractFromYtelseV1Test.java
  kontrakt/src/main/java/no/nav/abakus/vedtak/ytelse/Aktør.java
  kontrakt/src/main/java/no/nav/abakus/vedtak/ytelse/request/VedtakForPeriodeRequest.java
  kontrakt/src/main/java/no/nav/abakus/vedtak/ytelse/v1/anvisning/AnvistAndel.java
  kontrakt/src/main/java/no/nav/abakus/vedtak/ytelse/v1/anvisning/ArbeidsgiverIdent.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/rest/ekstern/EksternDelingAvYtelserRestTjeneste.java
Labels: kontrakt, web

#2218 Oppdater deps fjerne tabeller og kolonner
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/domene/TemaUnderkategoriKodeverdiConverter.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/tjeneste/YtelseRestTjeneste.java
  migreringer/src/main/resources/db/migration/defaultDS/2.0/V2.0_021__vedtak_temaunderkategori_fjern.sql
  migreringer/src/main/resources/db/migration/defaultDS/2.0/V2.0_022__fjerne_temp_tabeller.sql
  pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/app/rest/ekstern/EksternDelingAvYtelserRestTjeneste.java
Labels: pom, web, migreringer

#2221 Bump bom til 0.4.0 - ny felles - rydder i properties.
  .deploy/dev-fss-teamforeldrepenger.json
  .deploy/prod-fss-teamforeldrepenger.json
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/VedtattYtelseInnhentingTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunRestClient.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/VedtattYtelseInnhentingTjenesteTest.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/kafka/VedtakProperties.java
  lokalutvikling/vtp.env
  pom.xml
  web/pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/app/konfig/InternalApiConfig.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/selftest/checks/DatabaseHealthCheck.java
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/JettyServer.java
  web/src/main/resources/WEB-INF/web.xml
  web/src/main/resources/application-dev-fss.properties
  web/src/main/resources/application-prod-fss.properties
  web/src/main/resources/application.properties
  web/src/main/resources/web/README.md
  web/src/main/resources/web/swagger/index.html
  web/src/main/resources/web/swagger/local-swagger.css
  web/src/main/resources/web/swagger/local-swagger.js
  web/src/test/resources/application-local.properties
Labels: pom, web

#2223 Self-contained kontrakt for vedtak, task-metrikker
  .github/labeler.yml
  domenetjenester/vedtak/pom.xml
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/extract/v1/ConvertToYtelseV1.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/extract/v1/ExtractFromYtelseV1.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/tjeneste/YtelseRestTjeneste.java
  domenetjenester/vedtak/src/test/java/no/nav/foreldrepenger/abakus/vedtak/extract/v1/ExtractFromYtelseV1Test.java
  kontrakt-vedtak/pom.xml
  kontrakt-vedtak/src/main/java/no/nav/abakus/vedtak/ytelse/Aktør.java
  kontrakt-vedtak/src/main/java/no/nav/abakus/vedtak/ytelse/Desimaltall.java
  kontrakt-vedtak/src/main/java/no/nav/abakus/vedtak/ytelse/Kildesystem.java
  kontrakt-vedtak/src/main/java/no/nav/abakus/vedtak/ytelse/Periode.java
  kontrakt-vedtak/src/main/java/no/nav/abakus/vedtak/ytelse/Status.java
  kontrakt-vedtak/src/main/java/no/nav/abakus/vedtak/ytelse/Ytelse.java
  kontrakt-vedtak/src/main/java/no/nav/abakus/vedtak/ytelse/Ytelser.java
  kontrakt-vedtak/src/main/java/no/nav/abakus/vedtak/ytelse/request/VedtakForPeriodeRequest.java
  kontrakt-vedtak/src/main/java/no/nav/abakus/vedtak/ytelse/v1/YtelseV1.java
  kontrakt-vedtak/src/main/java/no/nav/abakus/vedtak/ytelse/v1/anvisning/Anvisning.java
  kontrakt-vedtak/src/main/java/no/nav/abakus/vedtak/ytelse/v1/anvisning/AnvistAndel.java
  kontrakt-vedtak/src/main/java/no/nav/abakus/vedtak/ytelse/v1/anvisning/ArbeidsgiverIdent.java
  kontrakt-vedtak/src/main/java/no/nav/abakus/vedtak/ytelse/v1/anvisning/Inntektklasse.java
  kontrakt/pom.xml
  pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/app/metrics/PrometheusRestService.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/metrics/TextFormater.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/rest/ekstern/EksternDelingAvYtelserRestTjeneste.java
Labels: pom, web

#2232 Gjøre eksterne endepunkt tilgjengelige for aad-consumers
  web/src/main/java/no/nav/foreldrepenger/abakus/app/rest/ekstern/EksternDelingAvYtelserRestTjeneste.java
Labels: web
