Repository navikt/fp-abakus, pull requests merged in 2024-12, with the labels that each got.

#2606 Sett saksnummer i task for logging
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/tjeneste/InnhentRegisterdataTjeneste.java
  pom.xml
Labels: pom

#2610 fix: bruker default på maxLifetime i connection pool
  migreringer/src/test/java/no/nav/foreldrepenger/abakus/dbstoette/TestDatabaseInit.java
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/DatasourceUtil.java
Labels: web

#2609 TFP-5818: rydding i kobling. Bruker kobling aktiv flagg for skriv beskytelse.
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/InntektsmeldingerRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/RegisterdataInnhentingTask.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/kobling/Kobling.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/kobling/KoblingLås.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/kobling/KoblingTask.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/kobling/KoblingTjeneste.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/kobling/repository/KoblingRepository.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/kobling/repository/LåsRepository.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/diff/DiffEntity.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/diff/TraverseJpaEntityGraphConfig.java
  migreringer/src/main/resources/db/migration/defaultDS/2.1/V2.1_00__baseline.sql
  migreringer/src/main/resources/db/migration/defaultDS/2.2/V2.2_02__TFP-5818_marker_kobling_som_avsluttet.sql
  pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/dumps/ArbeidsforholdOverstyringerDataDump.java
Labels: pom, web, migreringer

#2612 docs: forbedrer dokumentasjon for ekstern vedtak endepunkt.
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/request/InnhentRegisterdataRequest.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/rest/ekstern/EksternDelingAvYtelserRestTjeneste.java
Labels: kontrakt, web

#2614 feat: ny prosess task rest. Bruk felles-server
  domenetjenester/vedtak/pom.xml
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/kafka/VedtakConsumer.java
  pom.xml
  web/pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/app/healthcheck/DatabaseHealthCheck.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/healthcheck/HealthCheckRestService.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/tjenester/ApplicationServiceStarter.java
  web/src/test/java/no/nav/foreldrepenger/abakus/app/healthcheck/HealthCheckRestServiceTest.java
  web/src/test/java/no/nav/foreldrepenger/abakus/app/tjenester/ApplicationServiceStarterTest.java
Labels: pom, web

#2618 TFP-5818: GrunnlagType ikke obligatorisk
  kontrakt/src/main/java/no/nav/abakus/callback/registerdata/CallbackDto.java
Labels: kontrakt

#2619 TFP-5818 fjerner grunnlag type fra callback
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/callback/CallbackTask.java
  kontrakt/src/main/java/no/nav/abakus/callback/registerdata/CallbackDto.java
  kontrakt/src/main/java/no/nav/abakus/callback/registerdata/Grunnlag.java
Labels: kontrakt
