Repository navikt/fp-abakus, pull requests merged in 2024-01, with the labels that each got.

#1488 fix: endrer begrunnelse felter i database til TEXT (istdf varchar(100…
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/arbeidsforhold/ArbeidsforholdOverstyring.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/ArbeidsforholdHandlingType.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/arbeid/v1/AktivitetsAvtaleDto.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/arbeidsforhold/v1/ArbeidsforholdOverstyringDto.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/oppgittopptjening/v1/OppgittEgenNæringDto.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/oppgittopptjening/v1/OppgittFrilansoppdragDto.java
  lokalutvikling/docker-compose.yml
  lokalutvikling/update-versions.sh
  migreringer/src/main/resources/db/migration/defaultDS/2.0/V2.0_025__bytt_varchar_til_text.sql
  migreringer/src/main/resources/db/migration/defaultDS/2.0/V2.0_026__bytt_varchar_til_text.sql
  migreringer/src/main/resources/db/migration/defaultDS/2.0/V2.0_027__bytt_varchar_til_text.sql
Labels: kontrakt, migreringer

#2069 Setter varig endring begrunnelse til begrunelse-felt og ikkje endret_av
  web/src/main/java/no/nav/foreldrepenger/abakus/app/vedlikehold/ForvaltningRestTjeneste.java
Labels: web

#2490 Fjerne TemaUnderkategori overalt
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/AktørYtelse.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/InntektArbeidYtelseAggregatBuilder.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/InntektFilter.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/Inntektspost.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/Ytelse.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/YtelseBuilder.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/jpa/TemaUnderkategoriKodeverdiConverter.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/dto/iay/MapAktørInntekt.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/dto/iay/MapAktørYtelse.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/YtelseRegisterInnhenting.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/infotrygd/InfotrygdgrunnlagYtelseMapper.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/InnhentingInfotrygdTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/dto/InfotrygdYtelseGrunnlag.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/kodemaps/TemaReverse.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/kodemaps/TemaUnderkategoriReverse.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/infotrygd/InfotrygdgrunnlagYtelseMapperTest.java
  domenetjenester/iay/src/test/resources/migrering-grunnlag-1.json
  domenetjenester/iay/src/test/resources/migrering-grunnlag-2.json
  domenetjenester/iay/src/test/resources/migrering-grunnlag-4.json
  domenetjenester/iay/src/test/resources/migrering-grunnlag-9.json
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/InntektYtelseType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/TemaUnderkategori.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/UtbetaltNæringsYtelseType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/UtbetaltPensjonTrygdType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/UtbetaltYtelseFraOffentligeType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/YtelseType.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/inntekt/v1/UtbetalingsPostDto.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/ytelse/v1/YtelseDto.java
  kontrakt/src/test/java/no/nav/foreldrepenger/kontrakter/iaygrunnlag/v1/iay/IayGrunnlagTest.java
  kontrakt/src/test/resources/iay_case_001.json
  kontrakt/src/test/resources/iay_case_004.json
  web/src/main/java/no/nav/foreldrepenger/abakus/app/vedlikehold/ForvaltningRestTjeneste.java
Labels: kontrakt, web

#2491 Feil mapping iinntektspost dto-builder
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/inntekt/v1/UtbetalingsPostDto.java
Labels: kontrakt

#2492 Finnes mer rask i abakus-db som ikke skal være der
  web/src/main/java/no/nav/foreldrepenger/abakus/app/vedlikehold/ForvaltningRestTjeneste.java
Labels: web

#2495 Mellomsteg før omlegging
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/UtbetaltNæringsYtelseType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/UtbetaltYtelseFraOffentligeType.java
Labels: kontrakt

#2493 Sanere UtbetaltYtelseType med venner
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/Inntektspost.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/InntektspostBuilder.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/jpa/InntektYtelseTypeKodeverdiConverter.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/dto/iay/MapAktørInntekt.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/IAYRegisterInnhentingFellesTjenesteImpl.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/ArbeidType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/ArbeidsforholdHandlingType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/Arbeidskategori.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/BekreftetPermisjonStatus.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/Fagsystem.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/InntektPeriodeType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/InntektYtelseType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/Inntektskategori.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/InntektskildeType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/InntektsmeldingInnsendingsårsakType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/InntektspostType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/KodeValidator.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/Kodeverdi.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/Landkode.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/LønnsinntektBeskrivelse.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/NaturalytelseType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/OrganisasjonType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/PermisjonsbeskrivelseType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/SkatteOgAvgiftsregelType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/UtbetaltNæringsYtelseType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/UtbetaltPensjonTrygdType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/UtbetaltYtelseFraOffentligeType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/UtbetaltYtelseType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/UtsettelseÅrsakType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/VirksomhetType.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/YtelseStatus.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/YtelseType.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/JsonObjectMapper.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/inntekt/v1/UtbetalingsPostDto.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/request/RegisterdataType.java
  kontrakt/src/test/java/no/nav/foreldrepenger/kontrakter/iaygrunnlag/v1/iay/IayGrunnlagTest.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/jackson/JacksonJsonConfig.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/vedlikehold/ForvaltningRestTjeneste.java
Labels: kontrakt, web

#2497 Fjerne 3 ubrukte kolonner
  migreringer/src/main/resources/db/migration/defaultDS/2.0/V2.0_028__fjern_tre_kolonner.sql
Labels: migreringer

#2500 FIX: Bumper kontrakt opp til J21
  pom.xml
Labels: pom
