Repository navikt/fp-abakus, pull requests merged in 2024-03, with the labels that each got.

#2522 Bruk POST mot alle infotrygdtjenester
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/rest/felles/InfotrygdGrunnlagAggregator.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/rest/felles/PersonRequest.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/rest/ps/InfotrygdPSGrunnlag.java
  pom.xml
Labels: pom

#2523 Riktig method eksterndeling
  web/src/main/java/no/nav/foreldrepenger/abakus/app/rest/ekstern/EksternDelingAvYtelserRestTjeneste.java
Labels: web

#2524 TFP-5713 dele høye stillingsprosent på 10
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/AktivitetsAvtale.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/arbeidsforhold/ArbeidsforholdTjeneste.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/typer/AntallTimer.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/typer/Stillingsprosent.java
  domenetjenester/kobling/src/test/java/no/nav/foreldrepenger/abakus/typer/StillingsprosentTest.java
  migreringer/src/main/resources/db/migration/defaultDS/2.0/V2.0_029__fjern_timer.sql
Labels: migreringer

#2533 Rydder opp i bygg og oppsett.
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/postAttachCommand.sh
  .github/workflows/build.yml
  README.md
  web/src/main/java/no/nav/foreldrepenger/abakus/app/healthcheck/HealthCheckRestService.java
  web/src/test/resources/application-local.properties
  web/src/test/resources/application-vtp.properties
Labels: web

#2535 Felles 707
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/infotrygd/rest/felles/InfotrygdGrunnlagAggregator.java
  pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/app/rest/ekstern/EksternDelingAvYtelserRestTjeneste.java
Labels: pom, web

#2540 Fjerner bruk av callback url og scope.
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/InnhentingSamletTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/RegisterdataInnhentingTask.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/callback/CallbackTask.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/callback/FpsakKlient.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/tjeneste/InnhentRegisterdataTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/tjeneste/RegisterdataRestTjeneste.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/kobling/KoblingTask.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/kobling/TaskConstants.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/request/InnhentRegisterdataRequest.java
Labels: kontrakt

#2528 Bør være helt greit å bruke abac-foreldrepenger i dev.
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/ArbeidsforholdRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/GrunnlagRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/InntektsmeldingerRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/OppgittOpptjeningRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/OppgittOpptjeningV2RestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/tjeneste/RegisterdataRestTjeneste.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/tjeneste/YtelseRestTjeneste.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/sikkerhet/AbakusBeskyttetRessursAttributt.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/sikkerhet/DuploDataKeys.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/sikkerhet/PdpRequestBuilderImpl.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/DiagnostikkRestTjeneste.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/rapportering/RapporteringRestTjeneste.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/rest/ekstern/EksternDelingAvYtelserRestTjeneste.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/vedlikehold/ForvaltningRestTjeneste.java
  web/src/main/resources/application.properties
Labels: web

#2539 Fjerne opplegg som ble innført ifm dual-use
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/InntektArbeidYtelseGrunnlag.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/YrkesaktivitetBuilder.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/ArbeidsforholdRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/dto/arbeidsforhold/ArbeidsforholdDtoTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/IAYRegisterInnhentingFellesTjenesteImpl.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/InnhentingSamletTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/fagsakytelser/k9/IAYRegisterInnhentingK9TjenesteImpl.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/komponenten/FrilansArbeidsforhold.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/komponenten/InntektTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/komponenten/InntektsInformasjon.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/iay/tjeneste/dto/arbeidsforhold/ArbeidsforholdDtoTjenesteTest.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/ByggLønnsinntektInntektTjenesteTest.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/komponenten/impl/InntektTjenesteImplTest.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/aktor/AktørTjeneste.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/tjeneste/YtelseRestTjeneste.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/DiagnostikkRestTjeneste.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/rest/ekstern/EksternDelingAvYtelserRestTjeneste.java
Labels: web

#2545 Skille arbeidsprosent og utbetalingsprosent
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/AktivitetsAvtaleBuilder.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/PermisjonBuilder.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/YtelseAnvistAndelBuilder.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/YtelseAnvistBuilder.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/YtelseGrunnlagBuilder.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/inntektsmelding/Gradering.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/dto/iay/MapArbeidsforholdInformasjon.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/arbeidsforhold/ArbeidsforholdTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/infotrygd/InfotrygdgrunnlagAnvistAndelMapper.java
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/typer/Stillingsprosent.java
  domenetjenester/kobling/src/test/java/no/nav/foreldrepenger/abakus/typer/StillingsprosentTest.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/domene/VedtakYtelseAndelBuilder.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/domene/YtelseAnvistBuilder.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/arbeid/v1/AktivitetsAvtaleDto.java
Labels: kontrakt

#2546 Felle 708. Nytt kafkaoppsett
  domenetjenester/lonnskomp/pom.xml
  domenetjenester/vedtak/pom.xml
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/kafka/VedtakConsumer.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/kafka/VedtaksHendelseHåndterer.java
  felles/pom.xml
  pom.xml
Labels: pom

#2547 Fjern oppgitt opptjening V2 siden FP har ikke behov for dette.
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/InntektArbeidYtelseGrunnlag.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/InntektArbeidYtelseGrunnlagBuilder.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/InntektArbeidYtelseRepository.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/søknad/OppgittOpptjening.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/domene/iay/søknad/OppgittOpptjeningAggregat.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/OppgittOpptjeningTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/OppgittOpptjeningV2RestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/dto/iay/IAYTilDtoMapper.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/DefaultIAYRegisterInnhentingTjenesteImpl.java
  domenetjenester/iay/src/main/resources/META-INF/pu-default.opptjening.orm.xml
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/request/Dataset.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/konfig/ApiConfig.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/vedlikehold/ForvaltningRestTjeneste.java
Labels: kontrakt, web

#2552 Bugfix/misc rydding
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/DefaultIAYRegisterInnhentingTjenesteImpl.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/IAYRegisterInnhentingFellesTjenesteImpl.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/IAYRegisterInnhentingTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/InnhentingSamletTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/RegisterdataInnhentingTask.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/YtelseRegisterInnhenting.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/komponenten/InntektTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/SigrunTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/sigrun/klient/SigrunRestClient.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/inntekt/komponenten/impl/InntektTjenesteImplTest.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/kafka/VedtakConsumer.java
  pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/app/diagnostikk/dumps/RegisterInnhentingDump.java
Labels: pom, web

#2549 JaxRs authenticationfilter, drop JA-spi
  web/pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/app/konfig/ApiConfig.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/konfig/AuthenticationFilter.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/konfig/EksternApiConfig.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/konfig/InternalApiConfig.java
  web/src/main/java/no/nav/foreldrepenger/abakus/jetty/JettyServer.java
  web/src/main/resources/WEB-INF/web.xml
Labels: pom, web
