Repository navikt/fp-abakus, pull requests merged in 2025-04, with the labels that each got.

#2658 TFP-6038 minimal maksimum-klient for å logge Kelvin
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/InnhentingSamletTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/YtelseRegisterInnhenting.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/kelvin/ArbeidsavklaringspengerResponse.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/ytelse/kelvin/KelvinKlient.java
  domenetjenester/iay/src/test/java/no/nav/foreldrepenger/abakus/registerdata/InnhentingSamletTjenesteTest.java
  kodeverk/src/main/java/no/nav/abakus/iaygrunnlag/kodeverk/Fagsystem.java
  web/src/main/resources/application-dev-fss.properties
  web/src/main/resources/application-prod-fss.properties
  web/src/test/resources/application-vtp.properties
Labels: kontrakt

#2657 TFP-5972 innledende gjennomgang av requestbuilder
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/ArbeidsforholdRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/GrunnlagRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/InntektsmeldingerRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/OppgittOpptjeningRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/tjeneste/RegisterdataRestTjeneste.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/sikkerhet/IdentDataAttributter.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/sikkerhet/PdpRequestBuilderImpl.java
  kontrakt/src/main/java/no/nav/abakus/iaygrunnlag/request/AktørDatoRequest.java
  pom.xml
  web/src/main/java/no/nav/foreldrepenger/abakus/kobling/KoblingRestTjeneste.java
Labels: pom, kontrakt, web

#2673 chore: Rydder ubrukte open api annoteringer
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/ArbeidsforholdRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/GrunnlagRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/InntektsmeldingerRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/iay/tjeneste/OppgittOpptjeningRestTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/tjeneste/InnhentRegisterdataTjeneste.java
  domenetjenester/iay/src/main/java/no/nav/foreldrepenger/abakus/registerdata/tjeneste/RegisterdataRestTjeneste.java
  domenetjenester/vedtak/src/main/java/no/nav/foreldrepenger/abakus/vedtak/tjeneste/YtelseRestTjeneste.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/LoggUtil.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/diff/IndexKeyComposer.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/diff/Node.java
  felles/src/main/java/no/nav/foreldrepenger/abakus/felles/diff/TraverseGraphConfig.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/healthcheck/HealthCheckRestService.java
  web/src/main/java/no/nav/foreldrepenger/abakus/app/metrics/PrometheusRestService.java
  web/src/main/java/no/nav/foreldrepenger/abakus/kobling/KoblingRestTjeneste.java
Labels: web

#2674 Chore: fjerner ekstra kode som skulle fikse alle manglende ytelse typer under avsltting av grunnlag
  domenetjenester/kobling/src/main/java/no/nav/foreldrepenger/abakus/kobling/Kobling.java
  web/src/main/java/no/nav/foreldrepenger/abakus/kobling/AvsluttKoblingTjeneste.java
  web/src/main/java/no/nav/foreldrepenger/abakus/kobling/KoblingRestTjeneste.java
  web/src/test/java/no/nav/foreldrepenger/abakus/kobling/AvsluttKoblingTjenesteTest.java
  web/src/test/java/no/nav/foreldrepenger/abakus/kobling/KoblingRestTjenesteTest.java
Labels: web
